:root {
    --palette-gray-50: #F2F2F2;
    --palette-gray-100: #D9D9D9;
    --palette-gray-200: #B3B3B3;
    --palette-gray-300: #828282;
    --palette-gray-400: #676767;
    --palette-gray-500: #4C4C4C;
    --palette-gray-600: #454545;
    --palette-gray-700: #3C3C3C;
    --palette-gray-800: #333333;
    --palette-gray-900: #242424;
}