@use "../../../styles/variables" as *;

.container {
    padding: 30px 0;
    grid-column: 2 / -2;
    display: none;

    @media (min-width: $breakpoint-md) {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.listElement {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.link {
    color: var(--palette-gray-700);
    text-decoration: none;
    font-size: 15px;

    &:last-child {
        color: var(--palette-primary-main);
    }

    &:hover {
        text-decoration: underline;
        color: var(--palette-primary-main);
    }
}

.chevron {
    transform: rotate(-90deg);
    display: inline-block;
    color: var(--palette-gray-400);
}
