**/node_modules
**/lib
**/.watchmanconfig
/.docker-sync
storybook-static/
comet-admin-lang/
lang/
/.npm
schema.graphql

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
