language: node_js
node_js:
    - "8"
cache: yarn
before_install:
    - echo "//registry.npmjs.org/:_authToken=\${NPM_TOKEN}" > .npmrc
before_script:
    - yarn
script:
    - git reset --soft origin/${TRAVIS_BRANCH}
    - yarn lint-staged
