version: "3.5"
services:
    postgres:
        image: bitnami/postgresql:12
        tty: true
        volumes:
            - postgres:/bitnami/postgresql
        ports:
            - "${POSTGRESQL_PORT}:5432"
        environment:
            POSTGRESQL_USER: postgres
            POSTGRESQL_PASSWORD: ${POSTGRESQL_PWD_DECODED}
            POSTGRESQL_DATABASE: ${POSTGRESQL_DB}
        networks:
            - postgres

    imgproxy:
        image: darthsim/imgproxy:latest
        volumes:
            - ./demo/uploads:/uploads:ro
        ports:
            - ${IMGPROXY_PORT}:8080
        environment:
            IMGPROXY_KEY: ${IMGPROXY_KEY}
            IMGPROXY_SALT: ${IMGPROXY_SALT}
            IMGPROXY_MAX_SRC_RESOLUTION: ${IMGPROXY_MAX_SRC_RESOLUTION}
            IMGPROXY_LOCAL_FILESYSTEM_ROOT: "/uploads"
            IMGPROXY_USE_ABS: ${IMGPROXY_USE_ABS}
            IMGPROXY_ABS_NAME: ${AZURE_ACCOUNT_NAME}
            IMGPROXY_ABS_KEY: ${AZURE_ACCOUNT_KEY}
            IMGPROXY_USE_S3: ${IMGPROXY_USE_S3}
            IMGPROXY_S3_REGION: ${S3_REGION}
            IMGPROXY_S3_ENDPOINT: ${S3_ENDPOINT}
            AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
            AWS_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}

networks:
    postgres:
        driver: bridge

volumes:
    postgres:
        driver: local
