:root {
    --global-light-background: #f0f0f0;
    --global-dark-background: #242424;

    --global-light-color: #242424;
    --global-dark-color: #f0f0f0;

    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;
    padding: 20px;
    font-family: sans-serif;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    pre {
        margin-top: 0;
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
