.root {
    font-family: sans-serif;
    background-color: var(--text-block-background);
    color: var(--text-block-color);
    border-bottom: 10px solid var(--text-block-divider-color);
    padding: 10px;
}
