@use "@src/styles/variables" as *;

.input {
    position: relative;
    margin-bottom: var(--spacing-s200);
}

.labelWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-s100);
    font-size: 14px;
}

.inputField {
    display: flex;
    height: 48px;
    padding: 0 var(--spacing-s300);
    align-items: center;
    gap: var(--spacing-s100);
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--contact-form-border-border);
    width: 100%;
    color: var(--contact-form-text-input-text);
    font-size: 16px;
    line-height: 24px;
    text-overflow: ellipsis;
    box-sizing: border-box;
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%);

    &:hover {
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 8%);
    }

    &::placeholder {
        color: var(--contact-form-text-placeholder);
    }
}

.inputLabel {
    font-weight: 700;
    color: var(--contact-form-text-label);
}

.helperText {
    color: var(--contact-form-text-helper-text);
    margin-top: var(--spacing-s200);
}
