@use "@src/styles/variables" as *;

.textarea {
    padding: var(--spacing-s300);
    border-radius: 4px;
    border: 1px solid var(--contact-form-border-border);
    width: 100%;
    color: var(--contact-form-text-input-text);
    text-overflow: ellipsis;
    box-sizing: border-box;
    min-height: 120px;
    resize: vertical;

    &::placeholder {
        color: var(--contact-form-text-placeholder);
    }

    &--error {
        border-color: var(--contact-form-border-error);
    }
}
