.button {
    position: absolute;
    left: 8px;
    bottom: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;

    &:hover {
        background-color: #9e9e9e;
    }

    &:active {
        background-color: #9e9e9e;
    }

    &:focus {
        border-radius: 6px;
    }
}

.animatedPlayPause {
    box-sizing: border-box;
    height: 12px;
    border-color: transparent transparent transparent #fff;
    cursor: pointer;

    border-style: solid;
    border-width: 6px 0 6px 9px;
    transition:
        border-width 100ms ease,
        border-style 100ms ease;

    &Paused {
        border-style: double;
        border-width: 0 0 0 9px;
    }
}
