@use "../../../styles/variables" as *;
@use "@src/styles/theme.scss" as *;

.root {
    @include global-theme-inverted;

    margin-top: auto;
    background-color: var(--brand-grey-900);
    color: var(--text-primary);
}

.pageLayoutContent {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-d200) 0;
}

.topContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-d200);

    @media (min-width: $breakpoint-sm) {
        align-self: center;
        flex-direction: row;
        justify-content: space-between;
    }
}

.richTextWrapper {
    text-align: center;

    @media (min-width: $breakpoint-sm) {
        text-align: left;
    }
}

.imageWrapper {
    width: 160px;
    flex-shrink: 0;
}

.linkCopyrightWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-s500);
}

.linksWrapper {
    display: flex;
    gap: var(--spacing-s400);
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.copyrightNotice {
    text-align: center;
    color: var(--brand-grey-600);
}

.linkText {
    color: var(--text-secondary);
    text-decoration: underline;
}

.horizontalLine {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--brand-grey-600);
    color: var(--brand-grey-600);
    margin: var(--spacing-d200) 0;
}
