.root {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--comet-button-icon-gap-left);
    padding-block: var(--comet-button-size-default-padding-vertical);
    padding-inline: var(--comet-button-size-default-padding-horizontal);
    border: none;
    border-radius: var(--comet-button-size-default-radius);
    font-family: inherit;
    font-size: var(--comet-button-font-size);
    font-weight: var(--comet-button-font-weight);
    line-height: var(--comet-button-font-line-height);
    cursor: pointer;

    &--variantPrimary {
        background: var(--comet-button-primary-default-background);
        color: var(--comet-button-primary-default-foreground);
    }

    &--variantSecondary {
        background: var(--comet-button-secondary-default-background);
        color: var(--comet-button-secondary-default-foreground);
    }

    &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.startIcon,
.endIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
