.titleWrapper {
    appearance: none;
    border: none;
    background-color: transparent;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid var(--palette-gray-300);
    padding: var(--spacing-s300) 0;
}

.iconWrapper {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
}

.animatedChevron {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
    transform: rotate(0deg);

    &.expanded {
        transform: rotate(-180deg);
    }
}

.contentWrapper {
    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    transition:
        grid-template-rows 0.5s ease-out,
        visibility 0s linear 0.5s;
    visibility: hidden;

    &.expanded {
        grid-template-rows: 1fr;
        padding-bottom: var(--spacing-s300);
        visibility: visible;
        transition-delay: 0s;
    }
}

.contentWrapperInner {
    overflow: hidden;
}
