.iconWrapper {
    width: 24px;
    height: 24px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-primary-light);
}

.titleWrapper {
    text-align: left;
    display: flex;
    align-items: center;
    border-top: 1px solid var(--brand-grey-300);
    padding: var(--spacing-s500) 0;
    gap: 8px;

    &:hover {
        color: var(--brand-primary-light);

        .iconWrapper {
            background-color: var(--brand-primary-light);
            color: var(--brand-primary-contrast);
        }
    }
}

.contentWrapper {
    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    transition:
        grid-template-rows 0.5s ease-out,
        visibility 0s linear 0.5s;
    visibility: hidden;
}

.contentWrapperExpanded {
    grid-template-rows: 1fr;
    padding-bottom: var(--spacing-s300);
    visibility: visible;
    transition-delay: 0s;
}

.contentWrapperInner {
    overflow: hidden;
    padding-left: 32px;
}
