@use "@src/styles/variables" as *;

.root {
    display: flex;
    flex-flow: row wrap;
    gap: var(--spacing-s300);

    @media (min-width: $breakpoint-md) {
        gap: var(--spacing-s400);
    }
}
