.form {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Hide the reCAPTCHA badge – adding a disclaimer text to reCAPTCHA implementations is required by Google instead */
.grecaptcha-badge {
    visibility: hidden;
}
