.pageLayoutContent {
    grid-column: 3 / -3;
}

.list {
    list-style: disc;
    color: var(--palette-primary-main);
    padding-left: 0;
}

.listElement {
    line-height: 26px;
    padding-top: 12px;
    margin-left: 24px;
}
.link {
    color: var(--palette-primary-main);
    text-underline-offset: 10px;
}
