.page-tree-index-block {
    &__layout-content {
        grid-column: 3 / -3;
    }

    &__list {
        list-style: disc;
        color: var(--palette-primary-main);
        padding-left: 0;
    }

    &__list-item {
        line-height: 26px;
        padding-top: var(--spacing-s300);
        margin-left: var(--spacing-s500);
    }

    &__link {
        color: var(--palette-primary-main);
        text-underline-offset: 10px;
    }
}
