.root {
    display: flex;

    &--left {
        justify-content: flex-start;
    }

    &--center {
        justify-content: center;
    }

    &--right {
        justify-content: flex-end;
    }
}

.pageLayoutContent {
    grid-column: 3 / -3;
}
