.videoContainer {
    overflow: hidden;
    position: relative;
    aspect-ratio: var(--aspect-ratio);
}

.fill {
    width: 100%;
    height: 100%;
}

.vimeoContainer {
    position: absolute;
    border: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
