@use "./variables" as *;

:root {
    --palette-primary-light: #4b9fea;
    --palette-primary-main: #1e88e5;
    --palette-primary-dark: #155fa0;
    --palette-primary-contrastText: #ffffff;
    --palette-text-primary: #212121;
    --palette-text-secondary: #757575;
    --palette-text-inverted: #ffffff;
    --palette-gray-50: #fafafa;
    --palette-gray-100: #f5f5f5;
    --palette-gray-200: #eeeeee;
    --palette-gray-300: #e0e0e0;
    --palette-gray-400: #bdbdbd;
    --palette-gray-500: #9e9e9e;
    --palette-gray-600: #757575;
    --palette-gray-700: #616161;
    --palette-gray-800: #424242;
    --palette-gray-900: #212121;
    --palette-error-main: #bc3520;
    --palette-error-light: #c6523f;
    --palette-error-dark: #832617;
    --palette-error-contrastText: #b3b3b3;
    --palette-warning-main: #f3b346;
    --palette-warning-light: #f5c15f;
    --palette-warning-dark: #a87d32;
    --palette-warning-contrastText: #090909;
    --palette-info-main: #f3b346;
    --palette-info-light: #f5c15f;
    --palette-info-dark: #a87d32;
    --palette-info-contrastText: #090909;
    --palette-success-main: #66c54f;
    --palette-success-light: #77d06a;
    --palette-success-dark: #488938;
    --palette-success-contrastText: #090909;

    --font-family: "Roboto, sans-serif";

    --header-height: 100px;
    --page-layout-grid-total-columns: 24;
    --page-layout-max-width: 1920px;

    --spacing-d400: 72px;
    --spacing-d300: 44px;
    --spacing-d200: 28px;
    --spacing-d100: 20px;
    --spacing-s600: 32px;
    --spacing-s500: 24px;
    --spacing-s400: 16px;
    --spacing-s300: 12px;
    --spacing-s200: 8px;
    --spacing-s100: 4px;

    @media (min-width: $breakpoint-sm) {
        --spacing-d400: 96px;
        --spacing-d300: 68px;
        --spacing-d200: 52px;
        --spacing-d100: 24px;
    }

    @media (min-width: $breakpoint-md) {
        --spacing-d400: 120px;
        --spacing-d300: 84px;
        --spacing-d200: 64px;
        --spacing-d100: 32px;
    }

    @media (min-width: $breakpoint-lg) {
        --spacing-d400: 172px;
        --spacing-d300: 100px;
        --spacing-d200: 72px;
        --spacing-d100: 48px;
    }
}

/* Fix a problem with Flexbox to avoid overflows: https://defensivecss.dev/tip/flexbox-min-content-size/ */
* {
    min-width: 0;
}

html {
    /* Prevent font size adjustments after orientation changes in mobile devices */
    text-size-adjust: 100%;

    --full-viewport-height: 100vh;

    @supports (height: 100dvh) {
        --full-viewport-height: 100dvh;
    }
}

body {
    margin: 0;

    /* Improve text rendering with font-smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--palette-text-primary);

    /* Make body take the height of the viewport to put footer at the bottom  */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Prevent sub and sup elements from affecting the line height in all browsers */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button {
    appearance: none;
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    color: inherit;
    cursor: pointer;
}

button,
input,
select,
textarea {
    /* Use the application's default font for form elements */
    font: inherit;

    /* Remove default border-radius that is added by iOS Safari */
    border-radius: 0;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Fieldset CSS Reset */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
}

legend {
    padding: 0;
    margin-bottom: 0;
}

/* Create a root stacking context: https://www.joshwcomeau.com/css/custom-css-reset/#eight-root-stacking-context-9 */
/* stylelint-disable selector-id-pattern */
#root,
#__next {
    isolation: isolate;
}
