@use "./variables" as *;

:root {
    --brand-primary-light: #4f99dc;
    --brand-primary-main: #166dba;
    --brand-primary-dark: #0e4c82;
    --brand-primary-contrast: #fff;
    --brand-grey-050: #f5f5f5;
    --brand-grey-100: #ececec;
    --brand-grey-200: #d8d8d8;
    --brand-grey-300: #c5c5c5;
    --brand-grey-400: #b1b1b1;
    --brand-grey-500: #9e9e9e;
    --brand-grey-600: #7e7e7e;
    --brand-grey-700: #5f5f5f;
    --brand-grey-800: #3f3f3f;
    --brand-grey-900: #202020;
    --functional-error-main: #bc3520;
    --functional-error-light: #c6523f;
    --functional-error-dark: #832617;
    --functional-error-contrast: #fff;
    --functional-warning-main: #f3b346;
    --functional-warning-light: #f5c15f;
    --functional-warning-dark: #a87d32;
    --functional-warning-contrast: #000;
    --functional-info-main: #5cb4f0;
    --functional-info-light: #73c1f2;
    --functional-info-dark: #417da6;
    --functional-info-contrast: #090909;
    --functional-success-main: #66c54f;
    --functional-success-light: #77d06a;
    --functional-success-dark: #488938;
    --functional-success-contrast: #000;
    --functional-focus-main: #d817fa;
    --spacing-d400: 72px;
    --spacing-d300: 44px;
    --spacing-d200: 28px;
    --spacing-d100: 20px;
    --spacing-s600: 32px;
    --spacing-s500: 24px;
    --spacing-s400: 16px;
    --spacing-s300: 12px;
    --spacing-s200: 8px;
    --spacing-s100: 4px;

    @media (min-width: $breakpoint-sm) {
        --spacing-d400: 96px;
        --spacing-d300: 68px;
        --spacing-d200: 52px;
        --spacing-d100: 24px;
    }

    @media (min-width: $breakpoint-md) {
        --spacing-d400: 120px;
        --spacing-d300: 84px;
        --spacing-d200: 64px;
        --spacing-d100: 32px;
    }

    @media (min-width: $breakpoint-lg) {
        --spacing-d400: 172px;
        --spacing-d300: 100px;
        --spacing-d200: 72px;
        --spacing-d100: 48px;
    }
}

/* Fix a problem with Flexbox to avoid overflows: https://defensivecss.dev/tip/flexbox-min-content-size/ */
* {
    min-width: 0;
}

html {
    /* Prevent font size adjustments after orientation changes in mobile devices */
    text-size-adjust: 100%;

    --header-height: 100px;
    --full-viewport-height: 100vh;

    @supports (height: 100dvh) {
        --full-viewport-height: 100dvh;
    }
}

body {
    margin: 0;
    font-family: Arial, sans-serif;

    /* Improve text rendering with font-smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--brand-grey-900);

    /* Make body take the height of the viewport to put footer at the bottom  */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Prevent sub and sup elements from affecting the line height in all browsers */
sub,
sup {
    font-size: max(12px, 75%);
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

button {
    appearance: none;
    margin: 0;
    border: none;
    padding: 0;
    background: none;
    color: inherit;
    cursor: pointer;
}

button,
input,
select,
textarea {
    /* Use the application's default font for form elements */
    font: inherit;

    /* Remove default border-radius that is added by iOS Safari */
    border-radius: 0;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* Fieldset CSS Reset */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    min-width: 0;
}

legend {
    padding: 0;
    margin-bottom: 0;
}

/* Create a root stacking context: https://www.joshwcomeau.com/css/custom-css-reset/#eight-root-stacking-context-9 */
/* stylelint-disable selector-id-pattern */
#root,
#__next {
    isolation: isolate;
}

:focus {
    outline: 3px solid var(--functional-highlight-main);
    outline-offset: 0;
    border: 2px solid var(--brand-primary-contrast);
}
