/* Note: The breakpoints defined here are duplicated in the ts file at src/utils/createImageSizes.ts */

/* breakpoints as sass-variables, as css-variables don't work for breakpoints */
$breakpoint-sm: 600px;
$breakpoint-md: 900px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
