// stolen from tailwind: https://v1.tailwindcss.com/docs/screen-readers

@mixin visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    /* stylelint-disable-next-line property-no-deprecated */
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

@mixin visually-hidden-reset {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    /* stylelint-disable-next-line property-no-deprecated */
    clip: auto;
    white-space: normal;
}
