@use "../../styles/variables" as *;

.button {
    display: inline-flex;
    padding: var(--spacing-s400);
    border-radius: 4px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition:
        background-color 0.2s ease-out,
        color 0.2s ease-out,
        border-color 0.2s ease-out;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 110%;

    &:disabled {
        pointer-events: none;
    }
}

.contained {
    background-color: var(--brand-primary-main);
    color: var(--brand-primary-contrast);
    border: 1px solid var(--brand-primary-main);

    &:hover {
        color: var(--brand-primary-dark);
        border-color: var(--brand-primary-dark);
        background-color: var(--brand-primary-contrast);
    }

    &:disabled {
        background-color: var(--brand-grey-050);
        color: var(--brand-grey-400);
        border-color: var(--brand-grey-200);
    }
}

.outlined {
    background-color: transparent;
    color: var(--brand-primary-main);
    border: 1px solid var(--brand-primary-main);

    &:hover {
        background-color: var(--brand-primary-dark);
        color: var(--brand-primary-contrast);
        border-color: var(--brand-primary-dark);
    }

    &:disabled {
        color: var(--brand-grey-300);
        border-color: var(--brand-grey-200);
    }
}

.text {
    background-color: transparent;
    color: var(--brand-primary-main);
    border: 1px solid transparent;
    text-decoration: underline;
    text-underline-offset: 3px;

    &:hover {
        color: var(--brand-primary-dark);
        text-decoration-thickness: 2px;
    }

    &:disabled {
        color: var(--brand-grey-300);
    }
}
