@use "@src/styles/variables" as *;

.root {
    margin-top: 0;

    &--h600 {
        font-size: 32px;
        line-height: 35px;
        font-weight: 700;
        margin-bottom: 20px;

        @media (min-width: $breakpoint-sm) {
            font-size: 48px;
            line-height: 53px;
            margin-bottom: 24px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 61px;
            line-height: 67px;
            margin-bottom: 32px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 90px;
            line-height: 99px;
            margin-bottom: 40px;
        }
    }

    &--h550 {
        font-size: 29px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 18px;

        @media (min-width: $breakpoint-sm) {
            font-size: 39px;
            line-height: 43px;
            margin-bottom: 20px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 48px;
            line-height: 53px;
            margin-bottom: 24px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 67px;
            line-height: 74px;
            margin-bottom: 32px;
        }
    }

    &--h500 {
        font-size: 26px;
        line-height: 29px;
        font-weight: 700;
        margin-bottom: 18px;

        @media (min-width: $breakpoint-sm) {
            font-size: 33px;
            line-height: 36px;
            margin-bottom: 20px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 39px;
            line-height: 43px;
            margin-bottom: 24px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 50px;
            line-height: 55px;
            margin-bottom: 30px;
        }
    }

    &--h450 {
        font-size: 23px;
        line-height: 26px;
        font-weight: 700;
        margin-bottom: 16px;

        @media (min-width: $breakpoint-sm) {
            font-size: 28px;
            line-height: 31px;
            margin-bottom: 18px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 31px;
            line-height: 34px;
            margin-bottom: 20px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 38px;
            line-height: 42px;
            margin-bottom: 22px;
        }
    }

    &--h400 {
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 16px;

        @media (min-width: $breakpoint-sm) {
            font-size: 23px;
            line-height: 25px;
            margin-bottom: 16px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 25px;
            line-height: 28px;
            margin-bottom: 18px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 28px;
            line-height: 31px;
            margin-bottom: 18px;
        }
    }

    &--h350 {
        font-size: 18px;
        line-height: 20px;
        font-weight: 700;
        margin-bottom: 16px;

        @media (min-width: $breakpoint-sm) {
            font-size: 20px;
            line-height: 22px;
            margin-bottom: 16px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 21px;
            line-height: 23px;
            margin-bottom: 18px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 22px;
            line-height: 24px;
            margin-bottom: 18px;
        }
    }

    &--e600 {
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 8px;

        @media (min-width: $breakpoint-sm) {
            font-size: 22px;
            line-height: 22px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 26px;
            line-height: 26px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 30px;
            line-height: 30px;
        }
    }

    &--e550 {
        font-size: 18px;
        line-height: 18px;
        margin-bottom: 4px;

        @media (min-width: $breakpoint-sm) {
            font-size: 20px;
            line-height: 20px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 22px;
            line-height: 22px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 26px;
            line-height: 26px;
        }
    }

    &--e500 {
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 4px;

        @media (min-width: $breakpoint-sm) {
            font-size: 18px;
            line-height: 18px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 20px;
            line-height: 20px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 22px;
            line-height: 22px;
        }
    }

    &--e450 {
        font-size: 13px;
        line-height: 13px;
        margin-bottom: 4px;

        @media (min-width: $breakpoint-sm) {
            font-size: 14px;
            line-height: 14px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 16px;
            line-height: 16px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 18px;
            line-height: 18px;
        }
    }

    &--p300 {
        font-size: 15px;
        line-height: 22px;
        font-weight: 400;
        margin-bottom: 16px;

        @media (min-width: $breakpoint-sm) {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 16px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 17px;
            line-height: 24px;
            margin-bottom: 17px;
        }

        @media (min-width: $breakpoint-lg) {
            font-size: 18px;
            line-height: 26px;
            margin-bottom: 18px;
        }
    }

    &--p200 {
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        margin-bottom: 14px;

        @media (min-width: $breakpoint-sm) {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 14px;
        }

        @media (min-width: $breakpoint-md) {
            font-size: 15px;
            line-height: 22px;
            margin-bottom: 15px;
        }
    }

    &--noBottomSpacing {
        margin-bottom: 0;

        @media (min-width: $breakpoint-sm) {
            margin-bottom: 0;
        }
    }
}
