.button {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px solid white;
    z-index: 10;
}

.animatedPlayPause {
    box-sizing: border-box;
    height: 12px;

    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    will-change: border-width;
    cursor: pointer;

    // play state
    border-style: solid;
    border-width: 6px 0 6px 10px;

    // paused state
    &Pause {
        border-style: double;
        border-width: 0 0 0 10px;
    }
}
