@use "@src/styles/variables.scss" as *;

.column {
    grid-column: 3 / -3;
}

.layout9-6-9 {
    grid-column: 5 / -5;

    @media (min-width: $breakpoint-sm) {
        grid-column: 7 / -7;
    }

    @media (min-width: $breakpoint-md) {
        grid-column: 8 / -8;
    }

    @media (min-width: $breakpoint-lg) {
        grid-column: 9 / -9;
    }

    @media (min-width: $breakpoint-xl) {
        grid-column: 10 / -10;
    }
}

@media (min-width: $breakpoint-sm) {
    .layout4-16-4 {
        grid-column: 5 / -5;
    }

    .layout9-9 {
        grid-column: 3 / 12;

        &:nth-child(even) {
            grid-column: 14 / 23;
        }
    }

    .layout12-6 {
        grid-column: 3 / 15;

        &:nth-child(even) {
            grid-column: 17 / 23;
        }
    }

    .layout6-12 {
        grid-column: 3 / 9;

        &:nth-child(even) {
            grid-column: 11 / 23;
        }
    }
} 