.slider {
    position: relative;
}

.swiperContainer {
    overflow: hidden;

    .swiper {
        overflow: visible;
    }
}

.sliderItemBlockRoot {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mediaWrapper {
    position: relative;
    height: 200px;
}
