name: Build Docs

on:
    pull_request:
        paths:
            - docs/**
            - storybook/**
        branches:
            - main
            - next
    push:
        paths:
            - docs/**
            - storybook/**
        branches:
            - main
            - next

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - run: echo "${{ github.actor }}"

            - uses: actions/checkout@v5
              with:
                  ref: ${{ github.event.pull_request.head.ref || github.ref }}

            - uses: pnpm/action-setup@v4

            - name: Use Node.js 24.x
              uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies

            - run: pnpm install --frozen-lockfile

            - name: Setup project for CI run
              run: pnpm run setup:ci

            - name: Build docs
              run: pnpm build:docs
