name: Close stale PRs
on:
    schedule:
        - cron: "30 1 * * *"
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
jobs:
    close-issues:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            pull-requests: write
        steps:
            - uses: actions/stale@v10
              with:
                  debug-only: true
