name: i18n

on:
    push:
        branches:
            - main

jobs:
    i18n:
        runs-on: ubuntu-latest
        steps:
            - run: echo "${{ github.actor }}"

            - uses: actions/checkout@v5
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - run: |
                  git config user.name github-actions
                  git config user.email github-actions@github.com

            - name: "Library: Clone translations"
              uses: actions/checkout@v5
              with:
                  repository: vivid-planet/comet-lang
                  token: ${{ secrets.VIVID_PLANET_BOT_TOKEN }}
                  path: "demo/admin/lang/comet-lang"

            - uses: pnpm/action-setup@v4

            - name: Use Node.js 24.x
              uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies

            - run: pnpm install --frozen-lockfile

            - name: "Library: Extract i18n strings"
              run: |
                  pnpm run intl:extract
                  cp -r lang/* demo/admin/lang/comet-lang/

            - name: "Library: Update translatable strings"
              uses: EndBug/add-and-commit@v9
              with:
                  cwd: "./demo/admin/lang/comet-lang"

            - name: "Demo Admin: Clone translations"
              uses: actions/checkout@v5
              with:
                  repository: vivid-planet/comet-demo-lang
                  token: ${{ secrets.VIVID_PLANET_BOT_TOKEN }}
                  path: "demo/admin/lang/comet-demo-lang"

            - name: "Demo Admin: Extract i18n strings"
              run: |
                  cd demo/admin
                  pnpm run intl:extract
                  cp -r lang-extracted/* lang/comet-demo-lang/admin

            - name: "Demo Admin: Update translatable strings"
              uses: EndBug/add-and-commit@v9
              with:
                  cwd: "./demo/admin/lang/comet-demo-lang"

            - name: "Demo Site: Clone translations"
              uses: actions/checkout@v5
              with:
                  repository: vivid-planet/comet-demo-lang
                  token: ${{ secrets.VIVID_PLANET_BOT_TOKEN }}
                  path: "demo/site/lang/comet-demo-lang"

            - name: "Demo Site: Extract i18n strings"
              run: |
                  cd demo/site
                  pnpm run intl:extract
                  cp -r lang-extracted/* lang/comet-demo-lang/site

            - name: "Demo Site: Update translatable strings"
              uses: EndBug/add-and-commit@v9
              with:
                  cwd: "./demo/site/lang/comet-demo-lang"

            - name: "Demo Api: Clone translations"
              uses: actions/checkout@v4
              with:
                  repository: vivid-planet/comet-demo-lang
                  token: ${{ secrets.VIVID_PLANET_BOT_TOKEN }}
                  path: "demo/api/lang/comet-demo-lang"

            - name: "Demo Api: Extract i18n strings"
              run: |
                  cd demo/api
                  pnpm run intl:extract
                  cp -r lang-extracted/* lang/comet-demo-lang/api

            - name: "Demo Api: Update translatable strings"
              uses: EndBug/add-and-commit@v9
              with:
                  cwd: "./demo/api/lang/comet-demo-lang"
