name: Lint

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
    push:
        branches:
            - main
            - next

jobs:
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - run: echo "${{ github.actor }}"

            - uses: actions/checkout@v3
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
            - run: |
                  git config user.name github-actions
                  git config user.email github-actions@github.com

            - name: "Library: Clone translations"
              uses: actions/checkout@v3
              with:
                  repository: vivid-planet/comet-lang
                  token: ${{ secrets.GITHUB_TOKEN }}
                  path: "demo/admin/lang/comet-lang"

            - name: "Demo: Clone translations"
              uses: actions/checkout@v3
              with:
                  repository: vivid-planet/comet-demo-lang
                  token: ${{ secrets.GITHUB_TOKEN }}
                  path: "demo/admin/lang/comet-demo-lang"

            - name: Initial lang content (TODO remove this step after all lang files are in the repo)
              run: |
                  mkdir -p demo/admin/lang/comet-demo-lang/admin
                  test -f demo/admin/lang/comet-demo-lang/admin/en.json || echo "{}" > demo/admin/lang/comet-demo-lang/admin/en.json
                  test -f demo/admin/lang/comet-demo-lang/admin/de.json || echo "{}" > demo/admin/lang/comet-demo-lang/admin/de.json
                  mkdir -p demo/site/lang/comet-demo-lang/site
                  test -f demo/site/lang/comet-demo-lang/site/en.json || echo "{}" > demo/site/lang/comet-demo-lang/site/en.json
                  test -f demo/site/lang/comet-demo-lang/site/de.json || echo "{}" > demo/site/lang/comet-demo-lang/site/de.json

            - uses: pnpm/action-setup@v4
              with:
                  version: 8.2.0

            - name: Use Node.js 18.x
              uses: actions/setup-node@v3
              with:
                  node-version: 18
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies

            - run: pnpm install --frozen-lockfile

            - name: Copy schema files
              run: pnpm run copy-schema-files

            - name: Build
              run: pnpm run build:packages

            - name: Lint
              run: |
                  pnpm exec prettier --check "./*.{js,json,md,yml}"
                  pnpm run lint
                  # check for duplicate ids of formatted messages
                  pnpm run intl:extract
                  # check if schema files are up to date
                  pnpm --filter '@comet/blocks-api' run generate-block-meta
                  pnpm --filter '@comet/cms-api' run generate-block-meta
                  pnpm --filter '@comet/cms-api' run generate-schema
                  git diff --exit-code HEAD --
