name: Release Canary

on:
    push:
        branches:
            - main
            - next

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    release-canary:
        name: Release Canary
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5

            - uses: pnpm/action-setup@v4

            - name: Use Node.js 24.x
              uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Setup project for CI run
              run: pnpm run setup:ci

            - name: "Exit Prelease Mode"
              if: ${{ hashFiles('.changeset/pre.json') != '' }}
              run: npx changeset pre exit beta

            - name: Publish Canary release
              if: ${{ github.ref_name == 'main' && !contains(github.event.head_commit.message, 'Version Packages') }}
              run: |
                  echo --- > .changeset/canary.md
                  echo '"@comet/cli": patch' >> .changeset/canary.md
                  echo --- >> .changeset/canary.md
                  echo >> .changeset/canary.md
                  echo fake change to always get a canary release >> .changeset/canary.md
                  pnpm exec changeset version --snapshot canary
                  pnpm run publish --tag canary --no-git-checks
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

            - name: Publish Canary release
              if: ${{ github.ref_name == 'next' && !contains(github.event.head_commit.message, 'Version Packages') }}
              run: |
                  echo --- > .changeset/canary.md
                  echo '"@comet/cli": major' >> .changeset/canary.md
                  echo --- >> .changeset/canary.md
                  echo >> .changeset/canary.md
                  echo fake change to always get a canary release >> .changeset/canary.md
                  pnpm exec changeset version --snapshot canary
                  pnpm run publish --tag next-canary --no-git-checks
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
