name: Release Beta

on:
    push:
        branches:
            - next

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    check-if-prerelease-mode:
        name: Check if in Prerelease Mode
        runs-on: ubuntu-latest
        outputs:
            in-prerelease-mode: ${{ steps.check-if-prerelease-mode.outputs.in-prerelease-mode }}
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5

            - id: check-if-prerelease-mode
              name: Check if in Prerelease Mode
              run: |
                  if [ -f ".changeset/pre.json" ]; then
                      echo "in-prerelease-mode=true" >> $GITHUB_OUTPUT
                  else
                      echo "in-prerelease-mode=false" >> $GITHUB_OUTPUT
                  fi
    release-beta:
        needs: check-if-prerelease-mode
        if: needs.check-if-prerelease-mode.outputs.in-prerelease-mode == 'true'
        name: Release Beta
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5

            - uses: pnpm/action-setup@v4

            - name: Use Node.js 24.x
              uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Setup project for CI run
              run: pnpm run setup:ci

            - name: Get version to be published
              run: |
                  cd packages/admin/admin
                  echo "PUBLISHED_VERSION=$(pnpm pkg get version | sed -r 's/"//g')" >> $GITHUB_ENV

            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: dotansimha/changesets-action@v1.5.2
              with:
                  version: pnpm run version
                  publish: pnpm run publish
                  createGithubReleases: aggregate
                  githubReleaseName: "${{ env.PUBLISHED_VERSION }}"
                  githubTagName: "v${{ env.PUBLISHED_VERSION }}"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  HUSKY: 0 # https://typicode.github.io/husky/#/?id=with-env-variables
