name: Release

on:
    push:
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        concurrency:
            group: release
            cancel-in-progress: true
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5

            - uses: pnpm/action-setup@v4

            - name: Use Node.js 24.x
              uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies

            - name: Install Dependencies
              run: pnpm install --frozen-lockfile

            - name: Setup project for CI run
              run: pnpm run setup:ci

            - name: Get version to be published
              run: |
                  cd packages/admin/admin
                  echo "PUBLISHED_VERSION=$(pnpm pkg get version | sed -r 's/"//g')" >> $GITHUB_ENV

            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: dotansimha/changesets-action@v1.5.2
              with:
                  version: pnpm run version
                  publish: pnpm run publish
                  createGithubReleases: aggregate
                  githubReleaseName: "${{ env.PUBLISHED_VERSION }}"
                  githubTagName: "v${{ env.PUBLISHED_VERSION }}"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
                  HUSKY: 0 # https://typicode.github.io/husky/#/?id=with-env-variables
