name: Test

on:
    pull_request:
        types:
            - opened
            - synchronize
            - reopened
    push:
        branches:
            - main
            - next

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - run: echo "${{ github.actor }}"

            - uses: actions/checkout@v5
              with:
                  ref: ${{ github.event.pull_request.head.ref || github.ref }}
                  token: ${{ secrets.GITHUB_TOKEN }}
            - run: |
                  git config user.name github-actions
                  git config user.email github-actions@github.com

            - uses: pnpm/action-setup@v4

            - name: Use Node.js 24.x
              uses: actions/setup-node@v5
              with:
                  node-version: 24
                  registry-url: "https://registry.npmjs.org"
                  cache: "pnpm" # https://github.com/actions/setup-node/blob/main/docs/advanced-usage.md#caching-packages-dependencies

            - run: pnpm install --frozen-lockfile

            - name: Setup project for CI run
              run: pnpm run setup:ci

            - name: Build
              run: pnpm run build:packages

            - name: Test
              run: pnpm run test

            - name: Upload test results
              uses: actions/upload-artifact@v4
              if: success() || failure()
              with:
                  name: test-results
                  path: packages/**/junit.xml
                  overwrite: true
